.dayGrid thead, .dayGrid th {
  border: 1px solid #dddddd;
  text-align: center;
}
.dayGrid td {
  min-height: 50px;
  border: 1px solid #888888;
  text-align: center;
  cursor: pointer;
}

.dayGrid .selected {
  background: #77aaff;
  color: #eeeeee;
}

.dayGrid .today {
  background: #b4ffa5;
  color: #222222;
  cursor: pointer;
}

.dayGrid .disable {
  background: #eeeeee;
  color: #666666;
  cursor: initial;
}
