.dayGrid thead, .dayGrid th {
  border: 1px solid #dddddd;
  text-align: center;
}
.dayGrid td {
  min-height: 50px;
  border: 1px solid #888888;
  text-align: center;
  cursor: pointer;
}

.selected {
  background: #77aaff;
  color: #eeeeee;
}

.today {
  background: #b4ffa5;
  color: #222222;
  cursor: pointer;
}

.disable {
  background: #dee2e6;
  color: #666666;
  cursor: initial;
}

.square {
  width: 1rem;
  height: 1rem;
  border: 1px solid #888;
  display: inline-block;
  margin-right: 10px;
}

.flag {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  margin-right: 10px;
  display: inline-block;
}

.flag-danger {
  border-left: 1rem solid #dc3545;
}

.flag-warning {
  border-left: 1rem solid #ffc107;
}

.flag-info {
  border-left: 1rem solid #007bff;
}

.inline-icon {
  vertical-align: bottom;
}

.panel-cell {
  border: 1px solid #aaaaaa;
  text-align: center;
}

.panel-active{
  cursor: 'pointer';
}
.panel-active:hover{
  background: #77aaff;
  color: #eeeeee;
  cursor: pointer;
}


.panel-danger {
  background:  #f7d8da;
}

.panel-warning {
  background:  #fff0c8;
}

.panel-info {
  background:  #d9e6f5;
}